body {
  padding: 20px;
}

.input {
  border: 1px solid black;
  padding: 10px;
}

.button {
  padding: 10px;
}

.results {
  padding: 10px 0 0 0;
  color: black;
  font-size: 24px;
  display: block;
}
/*
.results {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.results:hover {
  -webkit-transform: scale3d(2, 2, 4);
          transform: scale3d(2, 2, 4);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}
*/
.input:focus {
  padding: 20px;
}

